footer {
  background-color: #c4170c;
}
footer .container {
  align-items: start;
}
.logo {
  display: block;
  width: 28px;
  height: 32px;
}
.footer__link {
  color: rgb(0, 0, 238);
}
.footer__text {
  color: white;
  font-size: 16px;
}
